target/
**/target/
.git/
.idea/
.vscode/
node_modules/
**/node_modules/
apresentacao-frontend/src/main/react/build/
apresentacao-frontend/src/main/react/node_modules/
*.log
*.tmp
*.class
!apresentacao-backend/target/*.jar
*.war
.DS_Store
/.mvn/
mvnw
mvnw.cmd
*.iml